.cart {
    background-color: var(--color-white);
    width: 50%;
    height: 90vh;
    padding: 24px;
    border-radius: 24px;
  }
  
  .cart__cart-list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 75%;
    overflow: auto;
  }
  
  .cart-item {
    display: flex;
    flex-direction: row;
    padding: 12px;
  }
  
  .cart-item__image {
    width: 50px;
    position: relative;
    margin-right: 6px;
  }
  
  .cart-item__desc {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  @media screen and (max-width: 900px) {
    .cart-item__image {
      display: none;
    }
  }
  
  .cart-item__desc p {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .cart-item__action {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    width: 30%;
  }
  
  .cart-item__action button {
    width: 25px;
    height: 25px;
    background-color: var(--color-blue);
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--color-white);
    cursor: pointer;
    transition: 300ms all;
  }
  
  .cart-item__action button:hover {
    filter: brightness(130%);
  }

  .carts__checkout button{
    width: 100%;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--color-blue);
    padding: 10px 18px 10px 18px;
    transition: 300ms;
  }

  .carts__checkout button:hover{
    filter: brightness(120%);
  }

  .carts__input_paid{
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .carts__input_paid input{
    width: 50%;
    height: 30px;
    border-radius: 8px;
    padding: 8px;
    text-align: right;
    border: 1px solid var(--color-dark-blue);
  }